@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap";
@import "https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:ital,wght@1,900&display=swap";
@import url("https://fonts.googleapis.com/css2?family=Marck+Script&display=swap");

:root {
  --background-color: hsl(224, 32%, 12%);
  --pink: hsl(338, 70%, 55%);
  --teal: hsl(183, 70%, 62%);
  --white: hsl(334, 7%, 95%);
  --purple-gradient: conic-gradient(
    from 0deg at 50% 50%,
    blue,
    purple,
    purple,
    blue
  );
  --font-family: "Montserrat", sans-serif;
  --purple: #7f00ff;
  --blue: #0096ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow: auto;
  /* font-family: , sans-serif; */
}

/* .box p {
  font-family: "montserrat", sans-serif;
  font-weight: bold;
  background-color: #007aff;
  border-radius: 50px 30px 30px 0px;
  width: 300px;
  text-align: center;
  position: relative;
  top: -80px;

  right: 50px;
}
.box p::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  width: 0;
  border-left: 60px solid #007aff;
  border-bottom: 60px solid transparent;
  border-top: 60px solid transparent;
 
} */

/* ======================= */
/* RESUME FORM */
/* ======================= */
.resumeForm {
  display: none;
  width: 50%;
  height: min-content;
  padding: 20px;
  border-radius: 20px;
  background-color: var(--background-color);
  background-image: var(--purple-gradient);
  background-blend-mode: multiply;
  overflow: hidden;
  filter: drop-shadow(0 0 8px var(--teal));
  position: absolute;
  top: 50px;
  right: 40px;
  z-index: 1002;
  animation: popin 1.5s ease-in-out;
  transition: 1.5s ease-in-out;
}
@keyframes popin {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.close {
  display: block;
  margin-left: 90%;
  margin-bottom: 10px;
  width: 50px;
  background-color: #000;
  border: none;
  border-radius: 10px;
  color: var(--pink);
  font-size: 25px;
  transition: 0.3s ease-in-out;
}
.resumeForm img {
  border-radius: 20px;
  margin-bottom: 10px;
}
#lower {
  height: 50%;
  /* width: 100%; */
}
.resumeContainer {
  display: flex;
}
.resumeDownload {
  display: block;
  margin: auto;
  width: 50%;
  padding: 10px;
  background-color: #000;
  border-radius: 20px;
  border: none;
  transition: 0.3s ease-in-out;
}

.resumeForm button:hover {
  cursor: pointer;
  transform: scale(0.9);
  filter: drop-shadow(0 0 8px var(--pink));
}
.resumeForm button a {
  text-decoration: none;
  color: var(--pink);
  font-size: large;
}
.resumeForm button a::after {
  content: "\f56d";
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-style: normal;
  padding-left: 8px;
}
.displayResume {
  display: block;
}
/* ============================== */
/* CONTACT FORM */
/* ============================== */
.mobile {
  display: none;
}
.formContainer {
  display: none;
  background-color: var(--background-color);
  background-image: var(--purple-gradient);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  width: 600px;
  border-radius: 10px;
  position: absolute;
  top: 50px;
  right: 40px;
  z-index: 1002;
  padding: 20px;
  animation: displayForm 1.5s ease-in-out forwards !important;
  filter: drop-shadow(0 0 5px var(--teal));
}
@keyframes displayForm {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.fadeOut {
  animation: fadeOut 1s ease !important;
}
@keyframes fadeOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
.formButtonsContainer {
  display: flex;
}

.closeX {
  position: absolute;
  top: 0;
  right: 0;
  /* display: block; */
  background-color: transparent;
  border: none;
  border-radius: 10px;
  /* padding: 10px; */
  width: 40px;
  color: var(--pink);
  font-size: 30px;
  transition: 0.3s ease-in-out;
}
.closeX:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  transform: scale(1.2);
}

.showForm {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

textarea {
  /* border-radius: 5px; */
  background-color: black;
  color: var(--teal);
  width: 100%;
}

label {
  font-family: var(--font-family);
  color: var(--pink);
  /* text-transform: uppercase; */
  /* font-size: 14px; */
}

fieldset {
  border: none;
  display: flex;
  justify-content: center;
  /* background-color: blue; */
  /* width: 50%; */
}
legend {
  font-family: var(--font-family);
  font-weight: 700;
  color: var(--pink);
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
}

.contactForm {
  /* width: 100%;
  height: 100%; */
  /* background-color: red; */
}

.contactForm input {
  border: none;
  border-radius: 10px;
  padding: 15px;
  margin: 10px auto;
  width: 100%;
  background-color: black;
  color: var(--teal);
}
::placeholder {
  color: var(--teal);
  font-family: var(--font-family);
}
input[type="text"],
input[type="email"],
textarea {
  outline: none;
}

input[type="submit"],
input[type="reset"] {
  background-color: #000;
  color: var(--pink);
  border-radius: 20px;
  border: none;
  transition: 0.3s ease-in-out;
  text-transform: uppercase;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  cursor: pointer;
  transform: scale(0.9);
  filter: drop-shadow(0 0 5px var(--pink));
}
input[type="submit"]:active,
input[type="reset"]:active {
  transform: scale(0.5);
}
/* ===================================== */
/* SIDE MENU DISPLAY DESKTOP */
/* ===================================== */
#sideMenu {
  display: none;
  width: 50%;
  height: 100%;
  transform: translateX(-100%);
  background-color: var(--background-color);
  background-image: var(--purple-gradient);
  background-blend-mode: multiply;
  position: fixed;
  z-index: 1000;
  transition: 0.8s ease-in-out;
}

/* ================================ */
/* HAMBURGER MENU STYLING */
/* ================================ */
.hamburgerContainer {
  padding: 15px;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: auto;
  z-index: 1001;
  filter: drop-shadow(0 0 10px black);
  transition: 0.8s ease-in-out;
}
.hamburger {
  display: none;
  width: 33px;
  height: 5px;
  border-radius: 10px;
  background-color: var(--teal);
  transition: 0.5s ease-in-out;
}
#bar2 {
  margin: 5px 0;
  transition: 0.3s ease-in-out;
}
.topBarRotate {
  transform: rotate(45deg) translate(0, 15px) scale(0.8);
  background-color: var(--pink);
}
.bottomBarRotate {
  transform: rotate(-45deg) translate(0, -15px) scale(0.8);
  background-color: var(--pink);
}
.middleBarSlide {
  opacity: 0;
}
.menuSlide {
  transform: translateX(40%);
}
/* =============================== */
/* NAVBAR  */
/* =============================== */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  font-size: 14px;
  /* position: fixed; */
  position: absolute;
  z-index: 999;
  /* background-color: rgba(0, 0, 0, 0.189); */
  /* background-color: var(--background-color); */
  /* background-image: var(--purple-gradient); */
  background-blend-mode: multiply;
  width: 100%;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 25px;
}
nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--teal);
  position: relative;
  font-family: "montserrat", sans-serif;
  font-weight: 900;
}
nav ul li a::after {
  content: "";
  height: 2px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--pink);
  transition: 300ms ease-in-out;
  /* transform-origin: left; */
  transform: scale(0);
}
nav ul > li {
  display: flex;
  align-content: center;
}
nav ul li:nth-of-type(1)::before {
  content: "\f015";
  color: var(--teal);
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  padding-right: 5px;
}
nav ul li:nth-of-type(1):hover::before {
  color: var(--pink);
}
nav ul li a:hover::after {
  transform: scale(1);
  /* transform-origin: left; */
}

nav a:hover {
  color: var(--pink);
}
/* MY LOGO */
.logoContainer {
  overflow: visible;
}
.logo {
  border-radius: 50%;
  padding: 5px;
  color: var(--teal);
  background-image: linear-gradient(-45deg, black, blue, grey);
  background-blend-mode: lighten;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-style: italic;
}
.graphic {
  padding: 10px;
  color: transparent;
  background-image: linear-gradient(-180deg, white, var(--teal), white);
  -webkit-background-clip: text;
  color: transparent;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
}
/* ================================== */
/* HERO SECTION */
/* ================================== */
.headingContainerMobile {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 0;
  white-space: nowrap;
  text-align: center;
  filter: blur(0px);
}
#headingMobile {
  font-size: 21.5px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.5;
  filter: drop-shadow(0 0 20px black);
  background-image: linear-gradient(90deg, white, var(--teal), white);
  -webkit-background-clip: text;
  color: transparent;
  margin: 20px;
}
#subHeadingMobile {
  font-size: 19px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.5;
  filter: drop-shadow(0 0 20px black);
  background-image: linear-gradient(
    90deg,
    var(--white),
    var(--teal),
    var(--white)
  );
  -webkit-background-clip: text;
  color: transparent;
  font-style: italic;
}

.btn-container {
  position: absolute;
  bottom: 150px;
  z-index: 900;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
}

#btn {
  position: relative;
  width: 150px;
  padding: 8px 30px;
  /* z-index: 0; */
  border: none;
  border-radius: 100px;
  text-align: center;
  /* background-color: transparent; */
  background-color: var(--background-color);
  background-image: var(--purple-gradient);
  background-blend-mode: multiply;
  transition: 0.3s ease-in-out;
  opacity: 0.8;
}
#btn:hover {
  cursor: pointer;
  /* transform: scale(0.9); */
  filter: drop-shadow(0 0 5px var(--teal));
}

#btn:active {
  transform: scale(0.7);
}

#btn a {
  font-size: 14px;
  font-family: var(--font-family);
  font-weight: 900;
  text-decoration: none;
  color: var(--pink);
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  /* background-color: red; */
  width: 100vw;
}
.loadText {
  font-size: 50px;
  color: #fff;
  font-family: var(--font-family);
  /* font-weight: 600; */
}
.hero {
  /* background-image: url(../Images/Earth.jpg);
  background-size: cover; */
  background-color: #000;
  min-height: 100vh;
  position: relative;
  z-index: -1;
  perspective: 2000px;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: blur(0px);
}
.hero::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100px;
  width: 100%;
  background: linear-gradient(to top, #000, transparent);
  z-index: 6;
}

.headingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  perspective: 1000px;
  transform-style: preserve-3d;
  transform: rotateX(30deg) translateZ(180px);
  white-space: nowrap;
  /* background-color: blue; */
}

.headingBox {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: min-content;
  width: 100%;
  transform-style: preserve-3d;
  transform: rotateX(5deg);
  /* background-color: red; */
  /* height: 100%; */
  /* z-index: 7; */
}
.hero h1 {
  display: block;
  font-size: 26px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.5;
  text-align: center;
  text-shadow: 5px 5px 10px #000;
  transform-style: preserve-3d;
  /* background-image: linear-gradient(
    180deg,
    white,
    var(--teal),
    white,
    var(--teal),
    white
  );
  -webkit-background-clip: text; */
  color: var(--teal);
}
#subHeading {
  font-style: italic;
  transform-style: preserve-3d;
  /* background-image: linear-gradient(
    60deg,
    white,
    var(--teal),
    white,
    var(--teal)
  );
  -webkit-background-clip: text; */
  color: var(--teal);
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin: 20px;
  text-shadow: 5px 5px 10px black;
  line-height: 1.5;
}
#mountains {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  /* filter: drop-shadow(0 0 20px black); */
}

#moon {
  position: absolute;
  top: 0;
  /* bottom: 0; */
  left: 0;
  /* right: 0; */
  width: 98%;
  height: 100%;
  object-fit: contain;
  z-index: -1;
  filter: drop-shadow(0 0 15px orange);
}
/* #layer3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
} */
#stars {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -3;
}
/* =============================== */
/* ABOUT ME SECTION */
/* =============================== */
.aboutMe {
  position: relative;
  z-index: 5;
  background-color: #000;
}
.aboutMe p {
  font-family: var(--font-family);
  font-size: 17px;
  color: var(--teal);
}
.quote {
  display: flex;
  justify-content: center;
}
blockquote {
  /* background-color: #333; */
  border-radius: 10px;
  width: 80%;
  font-weight: 400;
  font-family: "Marck Script", sans-serif;
  text-align: center;
  font-size: 22px;
  color: var(--pink);
}

#html {
  color: #e34c26;
}
#css {
  color: #2965f1;
}
#javascript {
  color: #f0db4f;
}
#python {
  color: transparent;
  background-image: linear-gradient(-60deg, #ffde57, #4584b6);
  -webkit-background-clip: text;
}

/* @keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
} */
.aboutMeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
  position: relative;
  margin-bottom: 10px;
}

.parent::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(to top, black, transparent);
}
.tech {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin: 100px 0;
  width: 100%;
}
.tech ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  transition: 2s ease-in-out;
}
.tech ul img {
  width: 70px;
  height: 70px;
}
.tech ul li {
  transform: 3s ease;
}
.summary {
  background-color: var(--background-color);
  background-image: var(--purple-gradient);
  background-blend-mode: multiply;
  border-radius: 30px;
  padding: 40px;
  width: 80%;
  height: 100%;
  color: white;
  line-height: 2.5;
  font-family: var(--font-family);
  /* animation: slide 1.5s ease-in-out forwards; */
  /* margin: auto; */
}
.myPhoto {
  /* opacity: 0.5 !important; */
  width: 200px;
  height: 300px;
  border-radius: 30px;
  position: relative;
  z-index: 0;
  filter: brightness(30%);
  /* animation: fadein 3s ease-in; */
}

.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  list-style: none;
  width: 40%;
  height: auto;
  transition: 1.5s ease-in-out;
  /* margin-right: 50px; */
}
.box ul li {
  padding: 10px;
  /* background-color: #bd2c00; */
}

.box ul li a i {
  font-size: 40px;
  padding: 2px;
  color: var(--purple);
  border-radius: 8px;
}

/* @keyframes slide {
  0% {
    opacity: 0.5;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
} */

.summary h1 {
  font-family: "Montserrat", sans-serif;
  color: var(--teal);
}
.summary span {
  color: var(--pink);
}
/* ============================== */
/* 3D-CARD */
/* ============================== */

.card-box {
  /* background-color: var(--background-color);
  background-image: var(--purple-gradient);
  background-blend-mode: multiply; */
  height: 50vh;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-right: 20px; */
  border-radius: 20px;
  /* background-color: #bd2c00; */
}
#my-Card-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: bold;
  background-color: hsl(222, 45%, 7%);
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
  position: relative;
  width: min-content;
  height: 35vh;
  transform-style: preserve-3d;
  /* transform: perspective(5000px) rotateY(20deg) rotateX(20deg); */
  transform: perspective(5000px) rotateY(var(--rotateY)) rotateX(var(--rotateX));
  overflow: visible;

  /* margin-right: 20px; */
}

.myName {
  color: var(--pink);
}
.myProfession {
  color: var(--teal);
}
.punctuation {
  color: var(--white);
}

#my-Card-Container > * {
  text-shadow: 0 0 0.3em currentColor;
}
.background {
  display: flex;
  align-items: center;
  background-color: var(--background-color);
  background-image: var(--purple-gradient);
  background-blend-mode: multiply;
  /* transform: translateZ(48px); */
  filter: blur(0px) opacity(0.8);
  border-radius: 10px;
  /* padding: 10px 10px; */
  height: 35vh;
  transform-style: preserve-3d;
  /* filter: blur(0px) opacity(1); */
  /* transform: perspective(8000px) rotateY(0deg) rotateX(0deg); */
  /* filter: drop-shadow(0 0 16px var(--purple)); */
}
#my-Card-Container::before,
#my-Card-Container::after {
  content: "";
  position: absolute;
  border-radius: inherit;
}
#my-Card-Container::before {
  inset: 0.75rem;
  background-color: rgb(0, 0, 0);
  transform: translateZ(-49px);
  filter: blur(15px) opacity(0.75);
  /* filter: drop-shadow(0 0 16px var(--teal)); */
}
#my-Card-Container::after {
  content: "";
  border-radius: inherit;
  inset: -1rem;
  background-color: var(--background-color);
  background-image: var(--purple-gradient);
  background-blend-mode: color;
  transform: translateZ(-50px);
  filter: drop-shadow(0 0 16px var(--pink));
}
.my-card-icons {
  width: 40px;
  height: 40px;
  /* border-radius: 15px; */
}
/* ================================ */
/* PROJECTS SECTION */
/* ================================ */
.projects {
  background-color: #000;
  width: 100%;
  position: relative;
  z-index: 5;
}
.projects h1 {
  font-size: 40px;
  font-family: "montserrat", sans-serif;
  color: var(--teal);
  width: 100%;
  margin: 150px 0 20px 0;
  border-bottom: 10px solid;
  border-image-source: conic-gradient(
    from 0deg at 50% 50%,
    blue,
    #1c0522,
    #1c0522,
    blue
  );
  border-image-slice: 20;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
  /* text-shadow: 0px 0px 25px white; */
  /* filter: drop-shadow(0 0 5px black); */
}
/* ======================================= */
/* GRID CONTAINER */
/* ======================================= */
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin: 50px auto;
  width: 95%;
}
/* =================================== */
/* CARDS AND CARD FLIP */
/* =================================== */
.card-container {
  transition: 300ms;
  perspective: 1000px;
}
.card {
  position: relative;
  width: 100%;
  height: 400px;
  border-radius: 15px;
  transition: 1.4s ease-out;
  transform-style: preserve-3d;
  box-shadow: 0 0 5px 2px black;
  overflow: visible;
}
.flip {
  transform: rotateY(180deg);
}

.card-container:hover {
  transform: scale(0.95);
  cursor: pointer;
  filter: drop-shadow(0px 0px 8px var(--pink));
}

.card-front {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.back-of-card {
  background-color: var(--background-color);
  background-image: var(--purple-gradient);
  background-blend-mode: multiply;
  color: white;
  text-align: center;
  transform: rotateY(180deg);
  overflow-y: hidden !important;
}

.card-front,
.back-of-card {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 15px;
}
.back-of-card p {
  width: 100%;
  /* height: 50%; */
  padding: 10px;
  line-height: 2;
}
.back-face-info {
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
}
.icons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.icons img {
  width: 40px;
  height: 40px;
}
.back-of-card button {
  width: 50%;
  padding: 10px;
  background-color: #000;
  /* color: var(--pink); */
  border-radius: 20px;
  border: none;
  transition: 0.3s ease-in-out;
  margin-bottom: 15px;
}
.back-of-card button:hover {
  cursor: pointer;
  transform: scale(0.9);
  filter: drop-shadow(0 0 8px var(--teal));
}
.back-of-card button a {
  text-decoration: none;
  color: var(--pink);
  font-size: large;
}
.back-of-card button a::before {
  content: "\f135";
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-style: normal;
  padding-right: 8px;
}
.back-of-card h4 {
  margin-top: 15px;
  font-size: 20px;
  font-family: var(--font-family);
  color: var(--teal);
}
.back-of-card p {
  font-family: var(--font-family);
  font-size: 16px;
}
/* .back-of-card button a::before {
  content: "\F845";
  display: inline-block;
} */
/* .back-of-card button img {
  display: inline-block;
  padding-left: 3px;
  opacity: 0.75;
} */

/* ============================= */
/* GRID ITEMS/CARDS */
/* ============================= */
.item1 {
  background: url(./Images/web\ recreate.png);
  background-size: cover;
  background-position-y: top;
  background-position-x: center;
  background-repeat: no-repeat;
  transition: 0.3s ease-in-out;
}

.item2 {
  background: url(./Images/DogRescue2.png),
    linear-gradient(to bottom, black, hsl(240, 64%, 30%), black);
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.3s ease-in-out;
}
.item3 {
  background: url(./Images/Screenshot\ 2023-03-01\ at\ 6.43.29\ PM.png);
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
  flex-direction: column;
  justify-content: center;
  transition: 0.3s ease-in-out;
}
.item4 {
  background: url(./Images/3d-card.png);
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.3s ease-in-out;
}
.item5 {
  background-image: url(./Images/HandymanScreenshot.png);
  background-size: cover;
  background-position-y: center;
  background-position-x: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}

.item6 {
  background: url(./Images/lePain\ pic.png);
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
  flex-direction: column;
  justify-content: center;
  transition: 0.3s ease-in-out;
}

.item7 {
  background: url(./Images/HangmanScreenshot.png), 
  linear-gradient(to bottom, #4c371d, black,#4c371d);
  background-size: contain;
  background-position-y: center;
  background-position-x: left;
  background-repeat: no-repeat;  
  flex-direction: column;
  justify-content: center;
  transition: 0.3s ease-in-out;
}



.item8 {
  background: url(./Images/Stopwatch.png);
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
  flex-direction: column;
  justify-content: center;
  transition: 0.3s ease-in-out;
}

.item9 {
  background: url(./Images/Magic\ 8\ ball.png);
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
  flex-direction: column;
  justify-content: center;
  transition: 0.3s ease-in-out;
}

.item10 {
  background: url(./Images/PasswordGen.png);
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
  flex-direction: column;
  justify-content: center;
  transition: 0.3s ease-in-out;
}

.item11 {
  background: url(./Images/ToDo3.png);
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
  flex-direction: column;
  justify-content: center;
  transition: 0.3s ease-in-out;
}

.item12 {
  background: url(./Images/Mew_2.png),
    linear-gradient(to bottom, black, hsl(240, 64%, 30%), black);
  background-size: contain;
  background-position-y: center;
  background-position-x: center;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;
  transition: 0.3s ease-in-out;
}

.item13 {
  background: url(./Images/weather.png),
    linear-gradient(to bottom, black, hsl(225, 99%, 47%), black);
  background-size: cover;
  background-position-y: top;
  background-position-x: center;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;
  transition: 0.3s ease-in-out;
}

.item14 {
  /* background: url(./Images/Frogger.png),
    linear-gradient(to bottom, black, hsl(225, 99%, 47%), black);
  background-size: cover;
  background-position-y: top;
  background-position-x: center; */
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;
  transition: 0.3s ease-in-out;
}



.item15 {
  background: url(./Images/HTML_Email.png),
    linear-gradient(to bottom, black, hsl(225, 99%, 47%), black);
  background-size: cover;
  background-position-y: top;
  background-position-x: center;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;
  transition: 0.3s ease-in-out;
}
/* ==================================== */
/* FOOTER */
/* ==================================== */
footer {
  background-color: var(--background-color);
  background-image: var(--purple-gradient);
  background-blend-mode: multiply;
  height: max-content;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 200px;
  align-items: center;
}
footer::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(to bottom, black, transparent);
  width: 100%;
  z-index: 6;
}
footer ul {
  list-style-type: none;
}

.siteMap {
  position: relative;
  z-index: 7;
  /* padding: 80px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 80px 0;
  color: var(--pink);
  /* color: #5d3fd3; */
  /* color: #7f00ff; */
  font-size: 18px;
}
.siteMap p {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 900;
}
.siteMap ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: 100%;
  overflow: visible;
}
.siteMap ul li,
.mobileView {
  overflow: visible;
}
.siteMap a {
  /* color: var(--teal); */
  /* color: #1f51ff; */
  color: var(--teal);
  text-decoration: none;
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}
.siteMap a:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.25);
}
.logoContainerFooter {
  font-size: 25px;
  grid-column: 1/4;
  text-align: center;
  position: relative;
  z-index: 7;
  /* background-color: red; */
  /* padding: 40px; */
}
.technologies {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: var(--teal);
  font-size: 30px;
  font-weight: 900;
  height: 48%;
  /* padding: 80px; */
  gap: 20px;
  position: relative;
  z-index: 7;
}
.technologies ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
}
.technologies img {
  width: 40px;
}

.socialLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 7;
  height: 48%;
  gap: 20px;
}
.socialLinks ul {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}
footer i {
  font-size: 40px;
  color: var(--pink);
  /* color: #1f51ff; */
}
.fa-linkedin:hover {
  background-color: var(--white);
  color: rgb(5, 115, 249);
}
.fa-facebook:hover {
  background-color: white;
  color: rgb(5, 115, 249);
}
.fa-github:hover {
  background-color: var(--background-color);
  color: #bd2c00;
}
.fa-instagram:hover {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}

.socialLinks p {
  color: var(--teal);
  font-size: 30px;
  font-weight: 900;
}
.kaleb {
  grid-column: 1/4;
  text-align: center;
  color: white;
  padding: 20px;
}
.mobileViewSiteMap {
  display: none;
  position: relative;
  z-index: 7;
}
/* ========================================= */
/* MEDIA QUERIES */
/* ========================================= */
@media (min-width: 1400px) {
  /* =========== */
  /* CONTACT FORM */
  /* =========== */

  .contactForm input,
  textarea {
    padding: 20px;
    width: 100%;
  }

  .headingContainer {
    margin-top: 100px;
  }
  .summary p {
    line-height: 3;
  }
  .card-box {
    margin-right: 250px;
  }
}
@media (min-width: 801px) and (max-width: 1319px) {
  /* ============== */
  /* CONTACT FORM */
  /* ============== */

  .contactForm,
  textarea {
    width: 100%;
  }
  .contactForm input {
    width: 100%;
  }
  /* ===========================*/
  /* CARDS IN PROJECTS */
  /* =========================== */
  .back-of-card button {
    width: 90%;
  }
}
@media (max-width: 1030px) {
  .container {
    grid-template-columns: 1fr 1fr;
    width: 98%;
  }
  .summary {
    width: 100%;
  }
  .card-box {
    justify-content: center;
  }
}
@media (min-width: 320px) and (max-width: 800px) {
  /* ======================= */
  /* RESUME FORM  */
  /* ======================= */
  .resumeForm {
    width: 90%;
    left: 20px;
  }
  .resumeContainer {
    flex-direction: column;
  }
  .resumeDownload {
    width: 80%;
  }

  /* =========================== */
  /*  CONTACT FORM */
  /* =========================== */
  .formContainer {
    flex-direction: column;
    /* align-items: center; */
    padding: 10px;
    width: 90%;
    left: 15px;
    top: 8%;
    background-blend-mode: multiply;
    border: none;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
    width: 100%;
  }
  .contactForm {
    width: 99%;
  }
  .contactForm input {
    width: 100%;
  }
  fieldset {
    width: 100%;
  }
  /* ======================== */
  /* DESKTOP VIEW NAVBAR  */
  /* ======================== */
  #navBar {
    display: none;
  }
  /* ======================= */
  /* SIDE MENU */
  /* ======================= */
  #sideMenu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #sideMenu ul {
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: 100vh;
    padding: 30px 20px;
    transition: 1 ease-in-out;
  }

  .menuListSlider {
    animation: menuListSlider 1s ease forwards !important;
  }
  @keyframes menuListSlider {
    0% {
      transform: translateX(-1000px);
    }
    100% {
      transform: translateX(0);
    }
  }
  .menuListSlider2 {
    animation: menuListSlider 1.3s ease forwards !important;
  }
  @keyframes menuListSlider {
    0% {
      transform: translateX(-1000px);
    }
    100% {
      transform: translateX(0);
    }
  }

  .menuListSlider3 {
    animation: menuListSlider 1.6s ease forwards !important;
  }
  @keyframes menuListSlider {
    0% {
      transform: translateX(-1000px);
    }
    100% {
      transform: translateX(0);
    }
  }
  .menuListSlider4 {
    animation: menuListSlider 1.9s ease forwards !important;
  }
  @keyframes menuListSlider {
    0% {
      transform: translateX(-1000px);
    }
    100% {
      transform: translateX(0);
    }
  }
  .menuListSlider5 {
    animation: menuListSlider 2.2s ease forwards !important;
  }
  @keyframes menuListSlider {
    0% {
      transform: translateX(-1000px);
    }
    100% {
      transform: translateX(0);
    }
  }

  #sideMenu ul a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: large;
    color: var(--teal);
    position: relative;
  }
  #sideMenu ul li a::before {
    content: "";
    position: absolute;
    /* top: 0; */
    bottom: 0;
    right: 0;
    left: 0;
    height: 2px;
    background-color: var(--pink);
    transition: 0.5s ease-in-out;
    transform: scale(0);
  }
  #sideMenu ul li a:hover::before {
    transform: scale(1);
  }
  #sideMenu i {
    font-size: 30px;
    color: var(--purple);
  }
  #sideMenu .fa-facebook:hover {
    background-color: white;
    color: rgb(5, 115, 249);
    border-radius: 10px;
  }
  #sideMenu .fa-linkedin:hover {
    background-color: white;
    color: rgb(5, 115, 249);
    border-radius: 10px;
  }
  #sideMenu .fa-github:hover {
    background-color: var(--background-color);
    color: red;
    border-radius: 5px;
  }
  #sideMenu .sideMenuSocial {
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    list-style: none;
    gap: 20px;
  }
  .sideSlide {
    transform: translateX(0%) !important;
  }
  /* ======================== */
  /* HAMBURGER MENU BUTTON */
  /* ======================== */
  .hamburgerContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  /* .hamburgerSpin {
    transform: rotate(90deg);
    animation: spin 0.3s ease-in-out 2 forwards;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
  }

  @keyframes spin {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(180deg);
    } 
  } */
  .hamburger {
    display: block;
  }
  .hamburgerContainer:hover {
    cursor: pointer;
  }
  /* ========================== */
  /* HERO SECTION ON MOBILE */
  /* ========================== */
  .hero {
    background-image: url(./Images/stefan-stefancik-G2ifDHnHZ6Y-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    /* perspective: 2000px; */
  }
  .headingContainer {
    display: none;
  }
  .headingContainerMobile {
    display: flex;
  }

  /* .hero h1 {
    font-size: 20px;
    text-shadow: 8px 8px 12px hsl(0, 0%, 0%);
    line-height: 2;
  }
  #subHeading {
    font-size: 18px;
    text-shadow: 8px 8px 12px black;
    padding: 20px;
    line-height: 2;
  }
  .headingContainer {
    z-index: 0;
  } */

  #mountains {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    /* object-fit: cover; */
    display: none;
  }
  #moon {
    right: 0;
    bottom: 0;
    object-fit: cover;
    display: none;
  }
  #stars {
    display: none;
  }
  /* =========================== */
  /* ABOUT ME SECTION */
  /* =========================== */
  .aboutMe {
    /* background-color: #001029; */
    position: relative;
  }

  .aboutMeContainer {
    background-color: hsl(224, 32%, 12%);
    background-image: var(--purple-gradient);
    background-blend-mode: multiply;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    position: relative;
    /* z-index: 900; */
  }
  .aboutMeContainer::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(to bottom, black, transparent);
    /* z-index: 98; */
  }

  .summary {
    width: 100%;
    background: none;
  }

  .container {
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 10px;
    width: 100%;
  }
  /* .my-card {
    display: flex;
    justify-content: center;
    align-items: center;
  } */
  #my-Card-Container {
    margin: 0;
  }

  /* ===================== */
  /* PROJECTS SECTION */
  /* ====================== */
  .projects h1 {
    border: none;
  }
  /* ====================== */
  /* FOOTER */
  /* ====================== */
  footer {
    display: flex;
    flex-direction: column;
    /* grid-template-columns: 1fr; */
  }
  .logoContainerFooter {
    padding: 30px;
  }
  .siteMap {
    flex-direction: column;
    overflow: hidden !important;
    width: 100%;
  }
  .siteMap ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 100%;
    height: auto;
    /* background-color: red; */
    text-align: center;
  }
  .siteMap ul a {
    text-transform: none;
  }
  .technologies {
    padding: 30px;
  }
  .socialLinks {
    padding: 20px;
  }
}

@media (max-height: 580px) {
  .btn-container {
    bottom: 0;
  }
}
