@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Press+Start+2P&display=swap");
@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

:root {
  --background-color: hsl(224, 32%, 12%);
  --pink: hsl(338, 70%, 55%);
  --teal: hsl(183, 70%, 62%);
  --white: hsl(334, 7%, 95%);
  --purple-gradient: conic-gradient(
    from 0deg at 50% 50%,
    blue,
    purple,
    purple,
    blue
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow: auto;
  /* font-family: , sans-serif; */
}

.btn-container {
  position: absolute;
  bottom: 150px;
  z-index: 900;
  width: 100%;
  /* background-color: red; */
}
/* .box p {
  font-family: "montserrat", sans-serif;
  font-weight: bold;
  background-color: #007aff;
  border-radius: 50px 30px 30px 0px;
  width: 300px;
  text-align: center;
  position: relative;
  top: -80px;
  right: 50px;
}
.box p::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  width: 0;
  border-left: 60px solid #007aff;
  border-bottom: 60px solid transparent;
  border-top: 60px solid transparent;
 
} */

#btn {
  position: relative;
  /* bottom: 250px; */
  /* left: 40%; */
  display: block;
  margin: auto;
  width: 200px;
  padding: 8px 30px;
  z-index: 900;
  border: none;
  border-radius: 100px;
  text-align: center;
  background-color: transparent;
  font-size: 25px;
  background-color: var(--background-color);
  background-image: var(--purple-gradient);
  background-blend-mode: multiply;
  transition: 0.3s ease-in-out;
  opacity: 0.6;
}
#btn:hover {
  cursor: pointer;
  transform: scale(0.9);
  filter: drop-shadow(0 0 10px red);
}
#btn a {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: transparent;
  background-image: linear-gradient(90deg, var(--teal), white);
  -webkit-background-clip: text;
}
/* ======================= */
/* RESUME FORM */
/* ======================= */
.resumeForm {
  display: none;
  width: 50%;
  height: min-content;
  padding: 20px;
  border-radius: 20px;
  background-color: var(--background-color);
  background-image: var(--purple-gradient);
  background-blend-mode: multiply;
  overflow: hidden;
  filter: drop-shadow(0 0 8px var(--teal));
  position: absolute;
  top: 100px;
  /* left: 25%; */
  bottom: 0;
  right: 40px;
  z-index: 1000;
  animation: popin 1.5s ease-in-out;
  transition: 1.5s ease-in-out;
}
@keyframes popin {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.close {
  display: block;
  margin-left: 95%;
  margin-bottom: 10px;
  width: 40px;
  background-color: #000;
  border: none;
  border-radius: 10px;
  color: var(--pink);
  font-size: 20px;
  transition: 0.3s ease-in-out;
}
.resumeForm img {
  border-radius: 20px;
  margin-bottom: 10px;
}
#lower {
  height: 50%;
  /* width: 100%; */
}
.resumeContainer {
  display: flex;
}
.resumeDownload {
  display: block;
  margin: auto;
  width: 50%;
  padding: 10px;
  background-color: #000;
  border-radius: 20px;
  border: none;
  transition: 0.3s ease-in-out;
}

.resumeForm button:hover {
  cursor: pointer;
  transform: scale(0.9);
  filter: drop-shadow(0 0 8px var(--teal));
}
.resumeForm button a {
  text-decoration: none;
  color: var(--pink);
  font-size: large;
}
.resumeForm button a::after {
  content: "\f56d";
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-style: normal;
  padding-left: 8px;
}
.displayResume {
  display: block;
}
/* ============================== */
/* CONTACT FORM */
/* ============================== */
.mobile {
  display: none;
}
.formContainer {
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  background-image: var(--purple-gradient);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  width: 40%;
  border-radius: 10px;
  display: none;
  position: absolute;
  top: 100px;
  right: 100px;
  /* left: ; */
  z-index: 1000;
  padding: 20px;
  animation: displayForm 1.5s ease-in-out forwards !important;
  filter: drop-shadow(0 0 5px var(--teal));
}
@keyframes displayForm {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.closeX {
  position: absolute;
  top: 0;
  right: 0;
  /* display: block; */
  background-color: transparent;
  border: none;
  border-radius: 10px;
  /* padding: 10px; */
  width: 40px;
  color: var(--pink);
  font-size: 30px;
  transition: 0.3s ease-in-out;
}
.closeX:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  transform: scale(1.2);
}

.showForm {
  display: flex;
}

textarea {
  border-radius: 5px;
  background-color: black;
  color: var(--teal);
}

label {
  color: var(--pink);
  text-transform: uppercase;
}

fieldset {
  border: none;
}
legend {
  color: var(--teal);
  text-transform: uppercase;
  text-align: center;
}
.contactSide img {
  display: block;
  margin: auto;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  filter: drop-shadow(0 0 30px black);
  /* background-color: blue; */
}
.contactSide {
  width: 100%;
  height: 100%;
  /* background-color: red; */
}
.contactForm {
  width: 100%;
  height: 100%;
}

.contactForm input {
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin: 10px auto;
  width: 100%;
  background-color: black;
  color: var(--teal);
}
::placeholder {
  color: var(--teal);
}

input[type="submit"] {
  background-color: #000;
  color: var(--pink);
  border-radius: 20px;
  border: none;
  transition: 0.3s ease-in-out;
  text-transform: uppercase;
}
input[type="submit"]:hover {
  cursor: pointer;
  transform: scale(0.9);
  filter: drop-shadow(0 0 5px var(--teal));
}
/* ===================================== */
/* SIDE MENU DISPLAY DESKTOP */
/* ===================================== */
#sideMenu {
  display: none;
  width: 50%;
  height: 100%;
  transform: translateX(-100%);
  background-color: var(--background-color);
  background-image: var(--purple-gradient);
  background-blend-mode: multiply;
  position: fixed;
  z-index: 1000;
  transition: 0.8s ease-in-out;
}

/* ================================ */
/* HAMBURGER MENU STYLING */
/* ================================ */
.hamburgerContainer {
  padding: 15px;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: auto;
  z-index: 10001;
  position: fixed;
  filter: drop-shadow(0 0 10px black);
  transition: 0.8s ease-in-out;
}
.hamburger {
  display: none;
  width: 33px;
  height: 5px;
  border-radius: 10px;
  background-color: var(--background-color);
  background-image: linear-gradient(90deg, var(--teal), white);
  background-blend-mode: hard-light;
  transition: 0.3s ease-in-out;
}
#bar2 {
  margin: 5px 0;
  transition: 0.3s ease-in-out;
}
.topBarRotate {
  transform: rotate(45deg) translate(0, 15px);
}
.bottomBarRotate {
  transform: rotate(-45deg) translate(0, -15px);
}
.middleBarSlide {
  transform: translateX(-1000px);
}
.menuSlide {
  transform: translateX(40%);
}
/* =============================== */
/* NAVBAR  */
/* =============================== */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  font-size: 14px;
  /* position: fixed; */
  position: absolute;
  z-index: 999;
  /* background-color: rgba(0, 0, 0, 0.189); */
  /* background-color: var(--background-color); */
  /* background-image: var(--purple-gradient); */
  background-blend-mode: multiply;
  width: 100%;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 25px;
}
nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--teal);
  position: relative;
  font-family: "montserrat", sans-serif;
  font-weight: 900;
}
nav ul li a::after {
  content: "";
  height: 2px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--pink);
  transition: 300ms ease-in-out;
  /* transform-origin: left; */
  transform: scale(0);
}
nav ul > li {
  display: flex;
  align-content: center;
}
nav ul li:nth-of-type(1)::before {
  content: "\f015";
  color: var(--teal);
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  padding-right: 5px;
}
nav ul li a:hover::after {
  transform: scale(1);
  /* transform-origin: left; */
}

nav a:hover {
  color: var(--pink);
}
/* MY LOGO */
.logoContainer {
  overflow: visible;
}
.logo {
  border-radius: 50%;
  padding: 5px;
  color: var(--teal);
  background-image: linear-gradient(-45deg, black, blue, grey);
  background-blend-mode: lighten;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-style: italic;
}
.graphic {
  padding: 10px;
  color: transparent;
  background-image: linear-gradient(-180deg, white, var(--teal), white);
  -webkit-background-clip: text;
  color: transparent;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
}
/* ================================== */
/* HERO SECTION */
/* ================================== */
.hero {
  /* background-image: url(../Images/Earth.jpg);
  background-size: cover; */
  background-color: #000;
  min-height: 100vh;
  position: relative;
  z-index: -1;
  perspective: 2000px;
}
.hero::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100px;
  width: 100%;
  background: linear-gradient(to top, #000, transparent);
  z-index: 6;
}
.hero h1 {
  display: block;
  margin: auto;
  font-size: 26px;
  font-family: "montserrat", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.5;
  text-align: center;
  filter: drop-shadow(0 0 20px black);
  transform-style: preserve-3d;
  background-image: linear-gradient(90deg, white, var(--teal), white);
  -webkit-background-clip: text;
  color: transparent;
}

.headingContainer {
  display: flex;
  justify-content: center;
  /* flex-direction: column;  */
  /* justify-content: flex-start; */
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  perspective: 1000px;
  transform-style: preserve-3d;
  transform: rotateX(25deg) translateZ(200px);
  white-space: nowrap;
}
.headingBox {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: min-content;
  width: 100%;
  /* z-index: 7; */
}

#subHeading {
  transform-style: preserve-3d;
  background-image: linear-gradient(60deg, white, var(--teal), white);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 20px;
  font-family: "montserrat", sans-serif;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
  /* color: var(--teal); */
  margin: 20px;
  /* text-shadow: 1px 1px 2px black; */
  filter: drop-shadow(0 0 20px black);
  line-height: 1.5;
}
#mountains {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  filter: drop-shadow(15px 15px 30px black);
}

#moon {
  position: absolute;
  top: 0;
  /* bottom: 0; */
  left: 0;
  /* right: 0; */
  width: 98%;
  height: 100%;
  object-fit: contain;
  z-index: -1;
  filter: drop-shadow(0 0 5px orange);
}
/* #layer3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
} */
#stars {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -3;
  /* display: none; */
}
/* =============================== */
/* ABOUT ME SECTION */
/* =============================== */
.aboutMe {
  position: relative;
  z-index: 5;
  background-color: #000;
  /* margin-top: 300px; */
}

/* @keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
} */
.aboutMeContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 300px;
  position: relative;
  margin-bottom: 10px;
}

.parent::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(to top, black, transparent);
}
.tech {
  padding: 50px;
  margin: 100px 0;
  /* background-color: red; */
  width: 100%;
}
.tech ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  transition: 2s ease-in-out;
}
.tech ul img {
  width: 70px;
  height: 70px;
}
.tech ul li {
  transform: 3s ease;
}
.sideBar {
  background-color: var(--background-color);
  background-image: var(--purple-gradient);
  background-blend-mode: multiply;
  border-radius: 30px;
  padding: 40px;
  width: 50%;
  height: 100%;
  color: white;
  line-height: 2.5;
  font-family: sans-serif;
  /* animation: slide 1.5s ease-in-out forwards; */
}
.myPhoto {
  opacity: 0.5 !important;
  width: 200px;
  height: 300px;
  border-radius: 30px;
  /* position: relative; */
  /* animation: fadein 3s ease-in; */
}
.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  list-style: none;
  width: 40%;
  /* margin-right: 50px; */
  /* background-color: red; */
}

.box ul li a i {
  font-size: 40px;
}

/* @keyframes slide {
  0% {
    opacity: 0.5;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
} */

.sideBar h1 {
  font-family: "orbitron", sans-serif;
}
/* .sideBar::after {
  content: url(./Images/me\ no\ background.png);
  position: absolute;
  width: 100px;
  bottom: 10px;
  opacity: 0.2;
  z-index: 10;
} */
.sideBar span {
  /* color: var(--teal); */
  background-image: linear-gradient(-45deg, white, var(--teal));
  -webkit-background-clip: text;
  color: transparent;
}
/* ============================== */
/* 3D-CARD */
/* ============================== */
.my-card {
  background-color: #000;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 60vh;
  width: 100%;
}
.card-box {
  /* background-color: var(--background-color);
  background-image: var(--purple-gradient);
  background-blend-mode: multiply; */
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
  border-radius: 20px;
}
#my-Card-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: bold;
  background-color: hsl(222, 45%, 7%);
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
  position: relative;
  width: min-content;
  height: 35vh;
  transform-style: preserve-3d;
  /* transform: perspective(5000px) rotateY(20deg) rotateX(20deg); */
  transform: perspective(5000px) rotateY(var(--rotateY)) rotateX(var(--rotateX));
  overflow: visible;
  margin-right: 20px;
}

.myName {
  color: var(--pink);
}
.myProfession {
  color: var(--teal);
}
.punctuation {
  color: var(--white);
}

#my-Card-Container > * {
  text-shadow: 0 0 0.3em currentColor;
}
.background {
  display: flex;
  align-items: center;
  background-color: var(--background-color);
  background-image: var(--purple-gradient);
  background-blend-mode: multiply;
  /* transform: translateZ(48px); */
  filter: blur(0px) opacity(0.8);
  border-radius: 10px;
  /* padding: 10px 10px; */
  height: 35vh;
  transform-style: preserve-3d;
  /* filter: blur(0px) opacity(1); */
  /* transform: perspective(8000px) rotateY(0deg) rotateX(0deg); */
}
#my-Card-Container::before,
#my-Card-Container::after {
  content: "";
  position: absolute;
  border-radius: inherit;
}
#my-Card-Container::before {
  inset: 0.75rem;
  background-color: rgb(0, 0, 0);
  transform: translateZ(-49px);
  filter: blur(15px) opacity(0.75);
  /* filter: drop-shadow(0 0 16px var(--teal)); */
}
#my-Card-Container::after {
  content: "";
  border-radius: inherit;
  inset: -1rem;
  background-color: var(--background-color);
  background-image: var(--purple-gradient);
  background-blend-mode: color;
  transform: translateZ(-50px);
  /* filter: drop-shadow(0 0 16px var(--pink)); */
}
.my-card-icons {
  width: 40px;
  height: 40px;
  /* border-radius: 15px; */
}
/* ================================ */
/* PROJECTS SECTION */
/* ================================ */
.projects {
  background-color: #000;
  width: 100%;
  position: relative;
  z-index: 5;
}
.projects h1 {
  font-size: 40px;
  font-family: "montserrat", sans-serif;
  color: transparent;
  background-image: linear-gradient(90deg, white, var(--teal));
  -webkit-background-clip: text;
  width: 100%;
  margin: 150px 0 20px 0;
  border-bottom: 10px solid;
  border-image-source: conic-gradient(
    from 0deg at 50% 50%,
    blue,
    #1c0522,
    #1c0522,
    blue
  );
  border-image-slice: 20;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
  /* text-shadow: 0px 0px 25px white; */
  /* filter: drop-shadow(0 0 5px black); */
}
/* ======================================= */
/* GRID CONTAINER */
/* ======================================= */
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  margin: auto;
  width: 60%;
}
/* =================================== */
/* CARDS AND CARD FLIP */
/* =================================== */
.card-container {
  transition: 300ms;
  perspective: 1000px;
}
.card {
  position: relative;
  width: 100%;
  height: 400px;
  border-radius: 15px;
  transition: 1.4s ease-out;
  transform-style: preserve-3d;
  box-shadow: 0 0 5px 2px black;
  overflow: visible;
}
.flip {
  transform: rotateY(180deg);
}

.card-container:hover {
  transform: scale(0.95);
  cursor: pointer;
  filter: drop-shadow(0px 0px 8px var(--pink));
}

.card-front {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.back-of-card {
  background-color: var(--background-color);
  background-image: var(--purple-gradient);
  background-blend-mode: multiply;
  color: white;
  text-align: center;
  transform: rotateY(180deg);
}

.card-front,
.back-of-card {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 15px;
}
.back-of-card p {
  width: 100%;
  /* height: 50%; */
  padding: 10px;
  line-height: 2;
}
.back-face-info {
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: red; */
}
.icons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.icons img {
  width: 80%;
}
.back-of-card button {
  width: 50%;
  padding: 10px;
  background-color: #000;
  /* color: var(--pink); */
  border-radius: 20px;
  border: none;
  transition: 0.3s ease-in-out;
}
.back-of-card button:hover {
  cursor: pointer;
  transform: scale(0.9);
  filter: drop-shadow(0 0 8px var(--teal));
}
.back-of-card button a {
  text-decoration: none;
  color: var(--pink);
  font-size: large;
}
.back-of-card button a::before {
  content: "\f135";
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-style: normal;
  padding-right: 8px;
}
/* .back-of-card button a::before {
  content: "\F845";
  display: inline-block;
} */
/* .back-of-card button img {
  display: inline-block;
  padding-left: 3px;
  opacity: 0.75;
} */

/* .back-of-card button a::after {
  font-family: "Font Awesome";
  content: "\f135";
  display: inline-block;
  padding-left: 10px;
  font-weight: 900;
  
} */
/* ============================= */
/* GRID ITEMS/CARDS */
/* ============================= */
.item1 {
  background: url(./Images/web\ recreate.png);
  background-size: cover;
  background-position-y: top;
  background-position-x: center;
  background-repeat: no-repeat;
}

.item2 {
  background: url(./Images/Screenshot\ 2023-03-01\ at\ 8.39.22\ PM.png);
  background-size: cover;
  background-position-y: top;
  background-position-x: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.3s ease-in-out;
}
.item3 {
  background: url(./Images/Screenshot\ 2023-03-01\ at\ 6.43.29\ PM.png);
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
  flex-direction: column;
  justify-content: center;
  transition: 0.3s ease-in-out;
}
.item4 {
  background: url(./Images/3d-card.png);
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.3s ease-in-out;
}
.item5 {
  background-image: url(./Images/fullpageproject.png);
  background-size: cover;
  background-position-y: top;
  background-position-x: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}
/* ==================================== */
/* FOOTER */
/* ==================================== */
footer {
  background-color: var(--background-color);
  background-image: var(--purple-gradient);
  background-blend-mode: multiply;
  height: max-content;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 200px;
  align-items: center;
}
footer::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(to bottom, black, transparent);
  width: 100%;
  z-index: 6;
}
footer ul {
  list-style-type: none;
}

.siteMap {
  position: relative;
  z-index: 7;
  /* padding: 80px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 80px 0;
  color: var(--pink);
  font-size: 18px;
}
.siteMap p {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 900;
}
.siteMap ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: 100%;
  overflow: visible;
}
.siteMap ul li,
.mobileView {
  overflow: visible;
}
.siteMap a {
  color: var(--teal);
  text-decoration: none;
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}
.siteMap a:hover {
  cursor: pointer;
  background-color: var(--pink);
}
.logoContainerFooter {
  font-size: 25px;
  grid-column: 1/4;
  text-align: center;
  position: relative;
  z-index: 7;
  /* background-color: red; */
  /* padding: 40px; */
}
.technologies {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: var(--teal);
  font-size: 30px;
  font-weight: 900;
  height: 48%;
  /* padding: 80px; */
  gap: 20px;
  position: relative;
  z-index: 7;
}
.technologies ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
}
.technologies img {
  width: 40px;
}

.socialLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 7;
  height: 48%;
  gap: 20px;
}
.socialLinks ul {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}
footer i {
  font-size: 40px;
  /* color: var(--pink); */
  border-radius: 10px;
}
.fa-linkedin:hover {
  background-color: var(--white);
  color: rgb(5, 115, 249);
  border-radius: 5px;
}
.fa-facebook:hover {
  background-color: white;
  color: rgb(5, 115, 249);
  border-radius: 10px;
}
.fa-github:hover {
  background-color: var(--background-color);
  color: #bd2c00;
  border-radius: 5px;
}
.fa-instagram:hover {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}

.socialLinks p {
  color: var(--teal);
  font-size: 30px;
  font-weight: 900;
}
.kaleb {
  grid-column: 1/4;
  text-align: center;
  color: white;
  padding: 20px;
}
.mobileViewSiteMap {
  display: none;
  position: relative;
  z-index: 7;
}
/* ========================================= */
/* MEDIA QUERIES */
/* ========================================= */
@media (min-width: 1400px) {
  .formContainer {
    width: 50%;
    /* left: 33%; */
  }
  .contactForm {
    width: 90%;
  }
  .contactForm input,
  textarea {
    padding: 20px;
    width: 100%;
  }
  .contactSide {
    width: 100%;
  }
  .contactSide img {
    width: 60%;
  }

  .headingContainer {
    margin-top: 100px;
  }

  .sideBar p {
    line-height: 3;
  }
  .myPhoto {
    /* width: 300px;
    height: 400px; */
  }
  .card-box {
    margin-right: 250px;
  }
}
@media (min-width: 801px) and (max-width: 1319px) {
  .formContainer {
    flex-direction: column;
    align-items: flex-start;
  }

  .contactSide img {
    width: 25%;
    display: block;
    margin-left: 20px;
    margin-bottom: 10px;
  }
  .contactForm,
  textarea {
    width: 95%;
  }
  .contactForm input {
    width: 100%;
  }
  .back-of-card button {
    width: 90%;
  }
}
@media (min-width: 320px) and (max-width: 800px) {
  /* ======================= */
  /* RESUME FORM  */
  /* ======================= */
  .resumeForm {
    width: 80%;
    left: 10%;
  }
  .resumeContainer {
    flex-direction: column;
  }
  .resumeDownload {
    width: 80%;
  }
  /* =========================== */
  /*  CONTACT FORM */
  /* =========================== */
  .formContainer {
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
    width: 70%;
    left: 12%;
    top: 8%;
    background-blend-mode: multiply;
    border: none;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
    width: 100%;
  }
  .contactSide {
    width: 95%;
    padding: 15px;
  }
  .contactSide img {
    width: 33%;
    display: block;
    margin: 0;
  }
  .contactForm {
    width: 90%;
  }
  .contactForm input {
    width: 100%;
  }
  fieldset {
    width: 100%;
  }
  /* ======================== */
  /* DESKTOP VIEW NAVBAR  */
  /* ======================== */
  #navBar {
    display: none;
  }
  /* ======================= */
  /* SIDE MENU */
  /* ======================= */
  #sideMenu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #sideMenu ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    padding: 30px 20px;
    transition: 1 ease-in-out;
  }

  .menuListSlider {
    animation: menuListSlider 1s ease forwards !important;
  }
  @keyframes menuListSlider {
    0% {
      transform: translateX(-1000px);
    }
    100% {
      transform: translateX(0);
    }
  }
  .menuListSlider2 {
    animation: menuListSlider 1.3s ease forwards !important;
  }
  @keyframes menuListSlider {
    0% {
      transform: translateX(-1000px);
    }
    100% {
      transform: translateX(0);
    }
  }

  .menuListSlider3 {
    animation: menuListSlider 1.6s ease forwards !important;
  }
  @keyframes menuListSlider {
    0% {
      transform: translateX(-1000px);
    }
    100% {
      transform: translateX(0);
    }
  }
  .menuListSlider4 {
    animation: menuListSlider 1.9s ease forwards !important;
  }
  @keyframes menuListSlider {
    0% {
      transform: translateX(-1000px);
    }
    100% {
      transform: translateX(0);
    }
  }
  .menuListSlider5 {
    animation: menuListSlider 2.2s ease forwards !important;
  }
  @keyframes menuListSlider {
    0% {
      transform: translateX(-1000px);
    }
    100% {
      transform: translateX(0);
    }
  }

  #sideMenu ul a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: large;
    color: var(--pink);
    position: relative;
  }
  #sideMenu ul li a::before {
    content: "";
    position: absolute;
    /* top: 0; */
    bottom: 0;
    right: 0;
    left: 0;
    height: 2px;
    background-color: var(--teal);
    transition: 0.5s ease-in-out;
    transform: scale(0);
  }
  #sideMenu ul li a:hover::before {
    transform: scale(1);
  }
  #sideMenu i {
    font-size: 30px;
    color: #333;
  }
  #sideMenu .fa-facebook:hover {
    background-color: white;
    color: rgb(5, 115, 249);
    border-radius: 10px;
  }
  #sideMenu .fa-linkedin:hover {
    background-color: white;
    color: rgb(5, 115, 249);
    border-radius: 10px;
  }
  #sideMenu .fa-github:hover {
    background-color: var(--background-color);
    color: red;
    border-radius: 5px;
  }
  #sideMenu .sideMenuSocial {
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    list-style: none;
  }
  .sideSlide {
    transform: translateX(0%) !important;
  }
  /* ======================== */
  /* HAMBURGER MENU BUTTON */
  /* ======================== */
  .hamburgerContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .hamburger {
    display: block;
  }
  .hamburgerContainer:hover {
    cursor: pointer;
  }
  /* ========================== */
  /* HERO SECTION ON MOBILE */
  /* ========================== */
  .hero {
    background-image: url(./Images/stefan-stefancik-G2ifDHnHZ6Y-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    /* perspective: 2000px; */
  }
  /* .hero::before {
    background: linear-gradient(to top, whitesmoke, transparent);
  } */

  .hero h1 {
    font-size: 20px;
    text-shadow: 8px 8px 12px hsl(0, 0%, 0%);
    line-height: 2;
    /* color: #c9c5cc; */
  }
  #subHeading {
    font-size: 18px;
    text-shadow: 8px 8px 12px black;
    padding: 20px;
    line-height: 2;
    /* color: #c9c5cc; */
  }
  /* =========================== */
  /* ABOUT ME SECTION */
  /* =========================== */
  .aboutMe {
    /* background-color: #001029; */
    position: relative;
  }

  .aboutMeContainer {
    background-color: hsl(224, 32%, 12%);
    background-image: var(--purple-gradient);
    background-blend-mode: multiply;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
  }
  .aboutMeContainer::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(to bottom, black, transparent);
  }

  .sideBar {
    width: 100%;
    background: none;
  }

  .container {
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 10px;
    width: 100%;
  }
  .headingContainer {
    z-index: 0;
  }

  #mountains {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    /* object-fit: cover; */
    display: none;
  }
  #moon {
    right: 0;
    bottom: 0;
    object-fit: cover;
    display: none;
  }
  #stars {
    display: none;
  }
  /* ===================== */
  /* PROJECTS SECTION */
  /* ====================== */
  .projects h1 {
    border: none;
  }
  /* ====================== */
  /* FOOTER */
  /* ====================== */
  footer {
    display: flex;
    flex-direction: column;
    /* grid-template-columns: 1fr; */
  }
  .logoContainerFooter {
    padding: 30px;
  }
  .siteMap {
    flex-direction: column;
    overflow: hidden !important;
    width: 100%;
  }
  .siteMap ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 100%;
    height: auto;
    /* background-color: red; */
    text-align: center;
  }
  .siteMap ul a {
    text-transform: none;
  }
  .technologies {
    padding: 30px;
  }
  .socialLinks {
    padding: 20px;
  }
  /* .tech ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .tech ul li:last-child {
    grid-column: 1/3;
    margin: auto;
  } */
}
